*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.classpath
.*env
*.eml
.settings/
*.txt
#IntelliJ Maven
*.ipr
*.iml
.idea
.DS_Store
/bootstrap
/dependencies.xml
.java-version
.checkstyle
.factorypath
.vscode/
repo/